<template>
  <Home msg="Welcome to Dynamic UI Portal"/>
</template>

<script>
// import Home from './components/home.vue'
import Home from './components/home_with_template.vue'

export default {
  name: 'App',
  components: {
    Home
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
