<template>
 <el-container
   :id="id"
    draggable="true"
    @dragstart="myDrag($event)"
    @click="mySelection($event)"
    :size="size"
    :style="style"
 >
    <el-header style="width:100%;min-height:45vh">
        <div>TopContent</div>
    </el-header>
    <el-container style="width:100%;min-height:45vh">
        <div>BottomContent</div>
    </el-container>
 </el-container>

</template>
<script>
  export default {
    name: 'Comparison',
    data () {
      return {
        id: ''
      }
    },
    props: {
      size: {
        type: String,
        default: 'medium'
      },
    style: {
        type: Object,
        default: function () {
          return {}
        }
      },
    border: {
        type: Boolean,
        default: false
      },
      myDrag: {
        type: Function,
        default: function() {}
      },
      mySelection: {
        type: Function,
        default: function() {}
      }
    },
    mounted () {
      this.id = this.getId(5)
    },
    methods: {
      getId: function (length) {
        let result = ''
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
        let charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return `btn_${result}`
      }
    }
  }
</script>
<style>
</style>