<template>
  <el-button
    :id="id"
    draggable="true"
    @dragstart="myDrag($event)"
    @click="mySelection($event,this)"
    :type="bType"
    :plain="plain"
    :round="round"
    :icon="icon"
    :disabled="disabled"
    :loading="loading"
    :size="size"
    :style="style">
      {{value}}
    </el-button>
</template>
<script>
  export default {
    name: 'Button',
    data () {
      return {
        id: '',
        props : {

        }
      }
    },
    props: {
      bType: {
        type: String,
        default: 'default'
      },
      value: {
        type: String,
        default: 'Default'
      },
      style: {
        type: Object,
        default: function () {
          return {}
        }
      },
      plain: {
        type: Boolean,
        default: false
      },
      round: {
        type: Boolean,
        default: false
      },
      circle: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      loading: {
        type: Boolean,
        default: false
      },
      icon: {
        type: String,
        default: ''
      },
      size: {
        type: String,
        default: 'medium'
      },
      myDrag: {
        type: Function,
        default: function() {}
      },
      mySelection: {
        type: Function,
        default: function() {}
      }
    },
    mounted () {
      this.id = this.getId(5)
    },
    methods: {
      getId: function (length) {
        let result = ''
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
        let charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return `btn_${result}`
      }
    }
  }
</script>
<style>
</style>