<template>
  <div>
    <el-container>
      <el-header style="background: #3e70a2; text-align: center">
        <h1 class="header">{{ msg }}</h1>
        <el-button type="success" @click="downloadDoc()" class="downBtn" icon="el-icon-download">Download</el-button>
      </el-header>
      <el-container>
        <el-aside width="230px" style="background: #3e70a2; text-align: center;">
          <div class="comp-con1">
              <label class="ui-com">Components</label>
          </div>
          <el-collapse class="accordion" accordion style="overflow:auto">
            <el-collapse-item title="Label" name="1">
              <div class="comp-con">
                <label id="lbl_dragable" class="drag" draggable="true" @dragstart="drag($event)">Label</label>
              </div>
            </el-collapse-item>
            <el-collapse-item title="Radio" name="2">
              <div class="comp-con">
                <el-radio id="radio_dragable" class="drag" draggable="true" @dragstart="drag($event)" label="1">Option A</el-radio>
              </div>
            </el-collapse-item>
            <el-collapse-item title="Checkbox" name="3">
              <div class="comp-con">
                <el-checkbox id="chk_dragable" class="drag" draggable="true" @dragstart="drag($event)">Option</el-checkbox>
              </div>
            </el-collapse-item>
            <el-collapse-item title="Textbox" name="4">
              <div  class="comp-con">
                <el-input id="txt_dragable" class="drag" draggable="true" @dragstart="drag($event)"></el-input>
                <br><br>
                <el-input id="dis_txt_dragable" class="drag" draggable="true" @dragstart="drag($event)" disabled></el-input>
              </div>
            </el-collapse-item>
            <el-collapse-item title="Button" name="5">
              <div  class="comp-con">
                <el-button type="primary" id="btn_dragable" class="drag" draggable="true" @dragstart="drag($event)">Button</el-button>
                <el-button type="primary" id="plain-btn_dragable" class="drag" draggable="true" @dragstart="drag($event)" plain>Plain</el-button>
                <br><br>
                <el-button type="primary" id="round-btn_dragable" class="drag" draggable="true" @dragstart="drag($event)" round>Round</el-button>
                <el-button type="primary" id="icon-btn_dragable" class="drag" draggable="true" @dragstart="drag($event)" icon="el-icon-search" circle></el-button>
              </div>
            </el-collapse-item>
               <el-collapse-item title="Image" name="6">
              <div  class="comp-con">
                <img id="img_dragable" class="drag" :src="filename" draggable="true" @dragstart="drag($event)" width="36" height="36">
                <el-upload
                  class="upload-demo"
                  action="http://localhost:3000/upload-image"
                  ref="upload"
                  :on-success="uploadSuccess">
                  <el-button size="small" type="primary">Click to upload</el-button>
                </el-upload>
              </div>
            </el-collapse-item>
             <div class="comp-con1">
              <label class="ui-com">Templates</label>
             </div>
            <el-collapse-item title="Tabs" name="7">
               <div  class="comp-con">
                   <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="User" name="first">User</el-tab-pane>
                    <el-tab-pane label="Role" name="third">Role</el-tab-pane>
                  </el-tabs>
              </div>
            </el-collapse-item>
             <el-collapse-item title="Table" name="8">
               <div  class="comp-con">
                    <el-table
                      :data="tableData"
                      border
                      style="width: 100%">
                      <el-table-column
                        prop="date"
                        label="Date"
                        width="60">
                      </el-table-column>
                      <el-table-column
                        prop="name"
                        label="Name"
                        width="60">
                      </el-table-column>
                      <el-table-column
                        prop="address"
                        label="Address"
                        width="80">
                      </el-table-column>
                    </el-table>
              </div>
            </el-collapse-item>
             <el-collapse-item title="Tree" name="9">
                <div  class="comp-con">
                  <el-tree :data="treeData" :props="defaultProps"></el-tree>
                </div>
             </el-collapse-item>
              <el-collapse-item title="Collapse" name="10">
                <div  class="comp-con">
                  <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="One" name="1">
                          <div>1</div>
                        </el-collapse-item>
                        <el-collapse-item title="Two" name="2">
                          <div>2</div>
                        </el-collapse-item>
                        <el-collapse-item title="Three" name="3">
                          <div>3</div>
                        </el-collapse-item>
                      </el-collapse>
                </div>
             </el-collapse-item>
             <el-collapse-item title="Nav" name="11">
               <div  class="comp-con">
                 <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
                    <el-menu-item index="1">one</el-menu-item>
                    <el-submenu index="2">
                      <template slot="title">Two</template>
                      <el-menu-item index="2-1">one</el-menu-item>
                      <el-menu-item index="2-2">two</el-menu-item>
                      <el-menu-item index="2-3">three</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="3" disabled>Three</el-menu-item>
                    <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">Four</a></el-menu-item>
                  </el-menu>
               </div>
             </el-collapse-item>
             <!--layout-->
             <div class="comp-con1">
               <label class="ui-com">Layouts</label>
             </div>
             <el-collapse-item title="Layouts" name="12" style="max-height:190px; scroll: auto">
              <div>
                <p id="lay_lable_dragable" class="drag lay-title">Blank</p>
                 <img id="lay1_dragable" class="drag  lay-img" src="../assets/Blank.jpg" draggable="true" @dragstart="drag($event)" width="36" height="36">
              </div>
              <div>
                <p id="lay_lable_dragable" class="drag lay-title">Title and Content</p>
                 <img id="lay1_dragable" class="drag  lay-img" src="../assets/Title-Content-layout.jpg" draggable="true" @dragstart="drag($event)" width="36" height="36">
              </div>
               <div>
                <p id="lay_lable_dragable" class="drag lay-title">Title and Slide</p>
                 <img id="lay1_dragable" class="drag  lay-img" src="../assets/Title-Slide.jpg" draggable="true" @dragstart="drag($event)" width="36" height="36">
              </div>
                <div>
                <p id="lay_lable_dragable" class="drag lay-title">Two-Content</p>
                 <img id="lay1_dragable" class="drag  lay-img" src="../assets/Two-Content.jpg" draggable="true" @dragstart="drag($event)" width="36" height="36">
              </div>
            </el-collapse-item>
          </el-collapse>
        </el-aside>
        <el-container>
          <el-main style="padding:0px">
            <el-row :span=24>
              <el-col :span=20>
                <div id="dropDiv" @drop="drop($event)" @dragstart="drag($event)" @dragover="allowDrop($event)"></div>
              </el-col>
              <el-col :span=4>
                <div id="propDiv">
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Element: </span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.selectedType" style="width: 150px" disabled></el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" v-if="isDraggableReqName" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Name:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.name" style="width: 150px" @blur="setSelectedEleValues($event)"></el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;" v-if="style.selectedType != 'LABEL'">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Height(px):</span>
                      </div>
                      <div class="colon-con"></div>
                      <div style="width:60%">
                        <el-input v-model="style.height" style="width: 150px" @blur="setSelectedEleValues($event)"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;"  v-if="style.selectedType != 'LABEL'">
                    <div class="feild-pos">
                      <div class="lable-con">
                          <span>Width(px):</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.width" style="width: 150px" @blur="setSelectedEleValues($event)"></el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Left(px):</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.leftMargin" style="width: 150px" @blur="setSelectedEleValues($event)"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Top(px):</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.topMargin" style="width: 150px" @blur="setSelectedEleValues($event)"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;" v-if="style.selectedType == 'BUTTON' || style.selectedType == 'INPUT'">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Disabled:</span>
                      </div>
                      <div class="colon-con"></div>
                      <div style="width:60%">
                        <el-select
                          style="width: 150px"
                          v-model="style.disabled"
                          placeholder="Select"
                          @change="setSelectedEleValues()"
                        >
                          <el-option
                            v-for="item in disOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;" v-if="style.selectedType == 'BUTTON'">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Type:</span>
                      </div>
                      <div class="colon-con"></div>
                      <div style="width:60%">
                        <el-select
                          style="width: 150px"
                          v-model="style.bType"
                          placeholder="Select"
                          @change="setSelectedEleValues()"
                        >
                          <el-option
                            v-for="item in bOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                </div>
              </el-col>
            </el-row>
          </el-main>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'home',
  props: {
    msg: String
  },
  data () {
    return{
      dragElement: null,
      dragEleId: '',
      isDraggableReqName: false,
      selectedElement: null,
      fileList: [],
      filename: require('../assets/logo.png'),
      style: {
        leftMargin: '',
        topMargin: '',
        height: '',
        width: '',
        name: '',
        selectedType: '',
        bType: 'el-button--primary',
        disabled: false
      },
      /** table data **/
      tableData: [{
            date: '01/01',
            name: 'Tom',
            address: 'huawei'
          }, {
            date: '01/01',
            name: 'jerry',
            address: 'huawei'
          }],
      /** tree data **/
      treeData: [{
          label: 'Level one 1',
          children: [{
            label: 'Level two 1-1',
            children: [{
              label: 'Level three 1-1-1'
            }]
          }]
        }, {
          label: 'Level one 2',
          children: [{
            label: 'Level two 2-1',
            children: [{
              label: 'Level three 2-1-1'
            }]
          }, {
            label: 'Level two 2-2',
            children: [{
              label: 'Level three 2-2-1'
            }]
          }]
        }, {
          label: 'Level one 3',
          children: [{
            label: 'Level two 3-1',
            children: [{
              label: 'Level three 3-1-1'
            }]
          }, {
            label: 'Level two 3-2',
            children: [{
              label: 'Level three 3-2-1'
            }]
          }]
        }],
         defaultProps: {
          children: 'children',
          label: 'label'
        },
      bOptions: [{
        value: 'el-button--primary',
        label: 'Primary'
      }, {
        value: 'el-button--default',
        label: 'Default'
      }, {
        value: 'el-button--danger',
        label: 'Danger'
      }],
      disOptions: [{
        value: true,
        label: 'True'
      }, {
        value: false,
        label: 'False'
      }]
    }
  },
  mounted () {
    // document.getElementById('dropDiv').onmouseup = this.clickEvent.bind(this)
  },
  methods: {
    clickEvent: function(e) {
      // e = Mouse click event.
      var rect = e.target.getBoundingClientRect();
      var x = e.clientX - rect.left; //x position within the element.
      var y = e.clientY - rect.top;  //y position within the element.
      console.log("Left? : " + x + " ; Top? : " + y + ".");
      this.convertPixels(x, y, e.currentTarget.clientHeight, e.currentTarget.clientWidth)
    },
    getPercent: function(a, b) {
      return (a/b)*100
    },
    convertPixels: function(x, y) {
      // this.style.leftMargin = this.getPercent(x, elWidth)
      // this.style.topMargin = this.getPercent(y, elHeight)
      this.style.leftMargin = x - 45
      this.style.topMargin = y - 30
    },
    allowDrop: function(ev) {
      ev.preventDefault()
    },
    drag: function (ev) {
      ev.dataTransfer.setData("text", ev.target.id)
      this.selectdEle(ev)
    },
    drop: function(ev) {
      ev.preventDefault()
      this.dragElement = null;
      this.dragEleId = ''
      this.clickEvent(ev)
      var data = ev.dataTransfer.getData("text")
      this.dragElement = ev
      this.dragEleId = data
      if(data.includes('btn') || data.includes('lbl')) {
        this.isDraggableReqName = true
      } else {
        this.isDraggableReqName = false
      }
      this.getCopyOfElement()
      this.setSelectedEleValues()
    },
    setSelectedEleValues: function () {
      let el = this.selectedElement
      el.style.marginLeft = this.style.leftMargin + 'px'
      el.style.marginTop = this.style.topMargin + 'px'
      el.style.height = this.style.height + 'px'
      el.style.width = this.style.width + 'px'
      if (!el.classList.value.includes('radio') && !el.classList.value.includes('checkbox') && !el.id.includes('icon')) {
        el.innerText = this.style.name == '' ? 'Default' : this.style.name
      }
      if(this.style.selectedType == 'BUTTON') {
        if (this.style.disabled) {
          el.classList.add('is-disabled')
        } else {
          el.classList.remove('is-disabled')
        }
        if (!this.style.bType) {
          this.style.bType = 'el-button--primary'
        }
        this.addButtonType(el, this.style.bType)
      } else if (this.style.selectedType == 'INPUT'){
        if (this.style.disabled) {
          el.style.backgroundColor = '#f5f7fa'
          el.style.color = '#c0c4cc'
          el.style.cursor = 'not-allowed'
          el.setAttribute('disabled','disabled')
        } else {
          el.removeAttribute('disabled')
          el.style.backgroundColor = '#ffffff'
          el.style.color = '#606266'
          el.style.cursor = 'text'
        }  
      }
      this.style.name = el.innerText
      this.style.selectedType = el.tagName
    },
    addButtonType: function(el, type) {
      el.classList.remove('el-button--primary')
      el.classList.remove('el-button--default')
      el.classList.remove('el-button--danger')
      el.classList.add(type)
    },
    selectdEle: function (el) {
      this.style = {}
      this.selectedElement = el.target
      this.style.leftMargin = el.target.style.marginLeft.replace('px', '')
      this.style.topMargin =  el.target.style.marginTop.replace('px', '')
      this.style.height =  el.target.style.height.replace('px', '')
      this.style.width =  el.target.style.width.replace('px', '')
      this.style.name = el.target.innerText
      this.style.selectedType = el.target.tagName
      if (this.style.type == 'BUTTON') {
        this.style.bType = this.getSelectedType(el)
      }
      this.style.disabled = el.target.classList.value.includes('is-disabled')
      if(el.target.id.includes('btn') || el.target.id.includes('lbl')) {
        this.isDraggableReqName = true
      } else {
        this.isDraggableReqName = false
      }
    },
    getSelectedType (el) {
      let cls = el.target.classList.value
      if (cls.includes('primary')) {
        return 'el-button--primary'
      } else if (cls.includes('default')) {
        return 'el-button--default'
      } else if (cls.includes('danger')) {
        return 'el-button--danger'
      } else {
        return 'el-button--primary'
      }
    },
    getCopyOfElement: function() {
      let data = this.dragEleId
      let ev = this.dragElement
      let el = null
      if (data.indexOf('_dragable') > -1) {
        el = document.getElementById(data).cloneNode(true)
        el.id = this.getId(5)
      } else {
        el = document.getElementById(data)
      }
      el.onclick = this.selectdEle.bind(this)
      el.style.marginLeft = this.style.leftMargin + 'px'
      el.style.marginTop = this.style.topMargin + 'px'
      el.style.height = this.style.height + 'px'
      el.style.width = this.style.width + 'px'
      this.style.disabled = el.disabled
      if (el.tagName == 'INPUT') {
        el.style.width = this.style.width == '' ? '250px' : this.style.width
      }
      if (this.isDraggableReqName && (!el.classList.value.includes('radio') && !el.classList.value.includes('checkbox') && !el.id.includes('icon'))) {
        el.innerText = this.style.name == '' ? 'Default' : this.style.name
      }
      el.style.position = 'absolute'
      ev.target.appendChild(el);
      this.selectedElement = el
      this.dragElement = null;
      this.dragEleId = ''
    },
    getId: function (length) {
      let result = ''
      let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      let charactersLength = characters.length;
      for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength))
      }
      return `${this.dragEleId.split('_')[0]}_${result}`
    },
    downloadDoc: function () {
      let str = document.getElementById('dropDiv').innerHTML
      axios.post('http://localhost:3000/download', {'htmlStr': str}).then(res => {
        this.createHTMLFile(res.data)
      })
    },
    uploadSuccess: function(res) {
      this.$refs.upload.clearFiles()
      this.filename = res.filename
    },
    createHTMLFile(data) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(data));
      element.setAttribute('download', 'dynamicui.html');

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }
  }
}
</script>

<style scoped>
#dropDiv {
  padding: 10px;
  border: 1px solid #aaaaaa;
  height:850px;
  width: 100%;
}
#propDiv {
  width: 100%;
}
.header{
  margin: 0;
  margin-top: 15px;
  color: white;
}
.comp-con{
    border-bottom: 1px solid white;
    padding: 10px;
    position: relative;
    top: 5px;
    text-align: start;
    float: left;
}
.comp-con1{
    border-bottom: 1px solid white;
    padding: 10px;
    position: relative;
    color: white;
}
.drag{
  cursor: grabbing;
}
.feild-pos{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    padding: 2%;
}
.lable-con{
  width: 20%;
  font-weight: bold;
  margin-top: 10px;
}
.colon-con{
  width: 20%;
  font-weight: bold;
  margin-top: 10px;
}
.ui-com{
    font-size: 20px;
    font-weight: bold;
}
.accordion {
  padding: 5px;
}
.downBtn {
  border: none;
  float:right;
  margin-top:-35px;
  box-shadow: 0 2px 12px 0 #02101f;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.lay-img{
  width:100%;
  height: 150px;
}
.lay-title{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
</style>
