<template>
  <div>
    <el-container>
      <!--Header of application-->
      <el-header style="background: #3e70a2;">
        <h1 class="header">{{ msg }}</h1>
        <el-button type="primary" @click="downloadDoc()" style="float:right;margin-top:-35px">Download Html</el-button>
      </el-header>
      <el-container>
        <!--Left side bar-->
        <el-aside width="200px" style="background: #3e70a2; text-align: center; height:93vh; overflow:auto">
          <div class="comp-con">
            <label class="ui-com">UI-Components</label>
          </div>
          <div class="comp-con">
            <label type="primary" id="lbl_dragable" class="drag" draggable="true" @dragstart="drag($event)">Label</label>
          </div>
          <div  class="comp-con">
            <el-input type="primary" id="txt_dragable" class="drag" draggable="true" @dragstart="drag($event)" placeholder="TextBox"></el-input>
          </div>
          <div  class="comp-con">
            <el-button type="primary" id="btn_dragable" class="drag" draggable="true" @dragstart="drag($event)">Button</el-button>
          </div>
          <div  class="comp-con">
            <el-image type="primary" :src="img" id="img_dragable" style="width:20px;height:20px" class="drag" draggable="true" @dragstart="drag($event)"></el-image>
          </div>
          <div  class="comp-con">
            <el-radio type="primary" id="radio_dragable" class="drag" draggable="true" @dragstart="drag($event)"></el-radio>
          </div>
            <div  class="comp-con">
            <el-checkbox type="primary" id="check_dragable" class="drag" draggable="true" @dragstart="drag($event)"></el-checkbox>
          </div>
          <!---- Layouts ----->
          <div class="comp-con">
            <label class="ui-com">Layouts</label>
          </div>
          <div class="comp-con">
            <el-image alt="TitleandSlide" :src="TitleSlide" id="titleSlide_dragable" class="drag layout-img" draggable="true" @dragstart="drag($event)"></el-image>
          </div>
          <div class="comp-con">
            <el-image alt="TitleandContent" :src="Title_Content"  id="titelCon_dragable" class="drag layout-img" draggable="true" @dragstart="drag($event)"></el-image>
          </div>
           <div class="comp-con">
            <el-image alt="TwoContent" :src="Two_Content"  id="twoCon_dragable" class="drag layout-img" draggable="true" @dragstart="drag($event)"></el-image>
          </div>
          <div class="comp-con">
            <el-image alt="Comparison" :src="comparison"  id="comparison_dragable" class="drag layout-img" draggable="true" @dragstart="drag($event)"></el-image>
          </div>
           <div class="comp-con">
            <el-image alt="Comparison" :src="PictureCap" id="pictureCap_dragable" class="drag layout-img" draggable="true" @dragstart="drag($event)"></el-image>
          </div>
          <!----- layout components ----->
          <div class="comp-con">
            <label class="ui-com">Layout Comp</label>
          </div>
          <div class="comp-con">
            <el-button type="primary" id="header_dragable" class="drag" draggable="true" @dragstart="drag($event)">Header</el-button>
          </div>
          <div class="comp-con">
            <el-button type="primary" id="section_dragable" class="drag" draggable="true" @dragstart="drag($event)">Section</el-button>
          </div>
        </el-aside>
        <el-container>
          <el-main style="padding:0px">
            <el-row :span=24>
              <el-col :span=19>
                <div id="dropDiv" @drop="drop($event)" @dragstart="drag($event)" @dragover="allowDrop($event)">
                  <component
                    v-for="(field, index) in fields"
                    :is="field.type"
                    :id="field.id"
                    v-bind="{ style: field.style }"
                    :key="index"
                    :mySelection="selectdEle"
                    @myDrag="drag">
                  </component>
                </div>
              </el-col>
              <el-col :span=5>
                <div id="propDiv">
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Element:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.selectedType" style="width: 150px" disabled></el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" v-if="isDraggableReqName" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Name:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.name" style="width: 150px" @focus="setSelectedEleValues($event)"></el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                    <div class="lable-con">
                      <span>Height(px):</span>
                    </div>
                    <div class="colon-con">
                    </div>
                    <div style="width:60%">
                      <el-input v-model="style.height" style="width: 150px" @focus="setSelectedEleValues($event)"> </el-input>
                    </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                          <span>Width(px):</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.width" style="width: 150px" @focus="setSelectedEleValues($event)"></el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Left(px):</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.marginLeft" style="width: 150px" @focus="setSelectedEleValues($event)"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12" style="justify-content: center;">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Top(px):</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="style.marginTop" style="width: 150px" @focus="setSelectedEleValues($event)"> </el-input>
                      </div>
                    </div>
                  </el-row>
                </div>
                <!---component props-->
                <div>
                  <h2 class="com-props-header">Component Props</h2>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Round:</span>
                      </div>
                      <div style="width:60%">
                          <el-select placeholder="Round">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton || isRadio || isCheckbox">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Disabled:</span>
                      </div>
                      <div style="width:60%">
                          <el-select placeholder="Disabled">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Circle:</span>
                      </div>
                      <div style="width:60%">
                          <el-select placeholder="Circle">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Plain:</span>
                      </div>
                        <div style="width:60%">
                        <el-input v-model="props.plain" style="width: 150px"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>bType:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="props.bType" style="width: 150px"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton || isRadio || isCheckbox">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Value:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="props.value" style="width: 150px"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Icon:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                      <div style="width:60%">
                        <el-input v-model="props.icon" style="width: 150px"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isRadio || isCheckbox" >
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>lable:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                        <div style="width:60%">
                        <el-input v-model="props.lable" style="width: 150px"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Size:</span>
                      </div>
                      <div class="colon-con">
                      </div>
                        <div style="width:60%">
                        <el-input v-model="props.size" style="width: 150px"> </el-input>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isRadio || isCheckbox">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Border:</span>
                      </div>
                      <div style="width:60%">
                          <el-select v-model="props.border" placeholder="Border">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                  <el-row :span="12"  style="justify-content: center;" v-if="isButton">
                    <div class="feild-pos">
                      <div class="lable-con">
                        <span>Loading:</span>
                      </div>
                      <div style="width:60%">
                          <el-select v-model="props.loading" placeholder="Loading">
                          <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                          </el-option>
                        </el-select>
                      </div>
                    </div>
                  </el-row>
                </div>
              </el-col>
            </el-row>
          </el-main>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios'
import Button from './Button'
import Radio from './Radio'
import Checkbox from './checkbox'
import Label from './Label'
import Textbox from './Textbox'
import Image from './Image'
import TitleSlide from './layouts/title_slide'
import TitleAndContent from './layouts/title_and_content'
import TwoContent from './layouts/two_content'
import Comparison from './layouts/comparison'
import PictureCaption from './layouts/picture_caption'
import Header from './layout_components/header'
import Title_Slide from '../assets/Title-Slide.jpg'
import Title_Content from '../assets/Title-Content-layout.jpg'
import Two_Content from '../assets/Two-Content.jpg'
import comparison from '../assets/comparision.jpg'
import PictureCap from '../assets/PictureCaption.jpg'
import Img from '../assets/logo.png'
export default {
  name: 'home',
  props: {
    msg: String
  },
  components: {
    Checkbox,
    Button,
    Radio,
    Label,
    Textbox,
    Image,
    TitleAndContent,
    TwoContent,
    Comparison,
    TitleSlide,
    PictureCaption,
    Header,
  },
  data () {
    return{
      fields: [],
      dragElement: null,
      dragEleId: '',
      isDraggableReqName: false,
      selectedElement: null,
      TitleSlide : Title_Slide,
      Title_Content: Title_Content,
      Two_Content : Two_Content,
      comparison : comparison,
      PictureCap : PictureCap,
      img : Img,
      style: {
        marginLeft: '',
        position: 'absolute',
        marginTop: '',
        height: '',
        width: '',
        name: '',
        selectedType: ''
      },
      selectedElementProps : {},
      isButton : false,
      isRadio : false,
      isCheckbox : false,
      props : {
        round : '',
        plain : '',
        bType: '',
        circle : '',
        icon : '',
        loading : '',
        disabled : '',
        value: '',
        lable : '',
        border : ''
      },
      options: [
        {
          value: 'true',
          label: 'True'
        },
         {
          value: 'false',
          label: 'False'
        }
      ]
    }
  },
  mounted () {
  },
  methods: {
    clickEvent: function(e) {
      var rect = e.target.getBoundingClientRect();
      var x = e.clientX - rect.left; //x position within the element.
      var y = e.clientY - rect.top;  //y position within the element.
      this.convertPixels(x, y, e.currentTarget.clientHeight, e.currentTarget.clientWidth)
    },
    convertPixels: function(x, y) {
      this.style.marginLeft = x - 45 + 'px'
      this.style.marginTop = y - 30 + 'px'
    },
    addProps : function () {
       this.fields.find(item => {
          if (item.id.includes('btn')) {
            item.plain = this.props.plain
            console.log('plain', item)
          }
        })
    },
    addComponents: function(id) {
      let stl = JSON.parse(JSON.stringify(this.style));
      console.log('style', stl)
      switch(id) {
        case 'btn_dragable':
          this.fields.push({id: this.getId('btn', 5), type: "Button", style: stl , plain:false , value:'Phani', bType:'danger' })
          break
        case 'lbl_dragable':
          this.fields.push({id: this.getId('lbl', 5), type: "Label", style: stl })
          break
        case 'radio_dragable':
          this.fields.push({id: this.getId('radio', 5), type: "Radio", style: stl })
          break
        case 'check_dragable':
        this.fields.push({id: this.getId('checkbox', 5), type: "Checkbox", style: stl })
        break
        case 'img_dragable':
          this.fields.push({id: this.getId('img', 5), type: "Image", style: stl })
          break
        case 'txt_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "Textbox", style: stl })
          break
        /*** Layouts ***/
        case 'titelCon_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "TitleAndContent"})
          break
        case 'twoCon_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "TwoContent"})
        break
        case 'comparison_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "Comparison"})
        break
        case 'titleSlide_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "TitleSlide"})
        break
        case 'pictureCap_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "PictureCaption"})
        break
        /**** layout components****/
        case 'header_dragable':
          this.fields.push({id: this.getId('txt', 5), type: "Header"})
        break
      }
    },
    allowDrop: function(ev) {
      ev.preventDefault()
    },
    drag: function (ev) {
      ev.dataTransfer.setData("text", ev.target.id)
      console.log('drag' , ev.target)
      this.curretDragEle(ev)
    },
    drop: function(ev) {
      ev.preventDefault()
      var data = ev.dataTransfer.getData("text")
      this.clickEvent(ev)
      if (data.includes('_dragable')) {
        this.addComponents(data)
      } else {
        this.fields.find(item => {
          if (item.id == data) {
            item.style = JSON.parse(JSON.stringify(this.style))
            item.plain = JSON.parse(JSON.stringify(this.props.plain))
          }
        })
      }
    },
    curretDragEle : function (el) {
       this.selectedElement = el.target
       this.style.marginLeft = el.target.style.marginLeft.replace('px', '')
      this.style.marginTop =  el.target.style.marginTop.replace('px', '')
      this.style.height =  el.target.style.height.replace('px', '')
      this.style.width =  el.target.style.width.replace('px', '')
      this.style.position = 'absolute'
      this.style.name = el.target.innerText
      this.style.name = this.style.name == undefined ? 'Default' : this.style.name
    },
    setSelectedEleValues: function () {
      let el = this.selectedElement
      console.log('style1', el) 
      el.style.marginLeft = this.style.marginLeft
      el.style.marginTop = this.style.marginTop
      el.style.height = this.style.height + 'px'
      el.style.width = this.style.width + 'px'
      el.innerText = this.style.name == undefined ? 'Default' : this.style.name
      this.style.name = el.innerText
      this.style.position = 'absolute'
      this.style.selectedType = el.tagName
      console.log('style', this.style.selectedType) 
    },
    selectdEle: function (el,el2) {
     if(el.currentTarget.id.includes('radio')) {
        this.isRadio = true
        this.isButton = false
        this.isCheckbox = false
     } else if (el.currentTarget.id.includes('btn') ){
        this.isButton = true
        this.isCheckbox = false
        this.isRadio = false
        this.props.plain = el2.plain
        this.props.value = el2.value
        this.props.bType = el2.bType
        console.log('selectProps', this.props.plain)
     } else if (el.currentTarget.id.includes('checkbox')) {
       this.isCheckbox = true
        this.isButton = false
        this.isRadio = false
     }
    if(el.target.id.includes('btn') || el.target.id.includes('lbl')) {
        this.isDraggableReqName = true
      } else {
        this.isDraggableReqName = false
      }
    },
    getId: function (eleName, length) {
      let result = ''
      let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      let charactersLength = characters.length;
      for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength))
      }
      return `${eleName}_${result}`
    },
    downloadDoc: function () {
      let str = document.getElementById('dropDiv').innerHTML
      axios.post('http://localhost:3000/download', {'htmlStr': str}).then(res => {
        this.createHTMLFile(res.data)
      })
    },
    createHTMLFile(data) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(data));
      element.setAttribute('download', 'dynamicui.html');

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }
  }
}
</script>

<style scoped>
#dropDiv {
  padding: 10px;
  border: 1px solid #aaaaaa;
  height:850px;
  width: 100%;
}
#propDiv {
  width: 100%;
}
.layout-img {
  height: 80px;
  width: 40px;
}
.header{
  margin: 0;
  margin-top: 15px;
  color: white;
  text-align:center
}
.comp-con{
    border-bottom: 1px solid white;
    padding: 10px;
    position: relative;
    top: 15px;
    color: white;
}
.drag{
  cursor: grabbing;
  width: 150px
}
.feild-pos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}
.lable-con{
  width: 20%;
  font-weight: bold;
  margin-top: 10px;
}
.colon-con{
  width: 20%;
  font-weight: bold;
  margin-top: 10px;
}
.ui-com{
    font-size: 20px;
    font-weight: bold;
}
.com-props-header{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
</style>
