<template>
  <el-image 
    :id="id"
    draggable="true"
    @dragstart="myDrag($event)"
    @click="mySelection($event)"
    :src="url" 
    :preview-src-list="previewList"
    :alt="alt"
    :fit="fit"
    :style="style"
  >
  </el-image>
</template>
<script>
  export default {
    name: 'Image',
    data () {
      return {
        id: ''
      }
    },
    props: {
      url: {
        type: String,
        default: ''
      },
      alt: {
        type: String,
        default: 'vue image'
      },
      fit: {
        type: String,
        default: 'fill'
      },
      style: {
        type: Object,
        default: function () {
          return {}
        }
      },
      previewList: {
        type: Array,
        default: function () {
          return []
        }
      },
      myDrag: {
        type: Function,
        default: function() {}
      },
      mySelection: {
        type: Function,
        default: function() {}
      }
    },
    mounted () {
      this.id = this.getId(5)
    },
    methods: {
      getId: function (length) {
        let result = ''
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
        let charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return `img_${result}`
      }
    }
  }
</script>
<style>
</style>