<template>
  <label
    :id="id"
    draggable="true"
    @dragstart="myDrag($event)"
    @click="mySelection($event)"
    :disabled="disabled"
    :style="style"
    >
      {{value}}
  </label>
</template>
<script>
  export default {
    name: 'Label',
    data () {
      return {
        id: ''
      }
    },
    props: {
      value: {
        type: String,
        default: 'Default'
      },
      style: {
        type: Object,
        default: function () {
          return {
          }
        }
      },
      border: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      size: {
        type: String,
        default: 'medium'
      },
      myDrag: {
        type: Function,
        default: function() {}
      },
      mySelection: {
        type: Function,
        default: function() {}
      }
    },
    mounted () {
      this.id = this.getId(5)
    },
    methods: {
      getId: function (length) {
        let result = ''
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
        let charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return `lbl_${result}`
      }
    }
  }
</script>
<style>
</style>