<template>
  <el-radio
    :id="id"
    :label="label"
    draggable="true"
    @dragstart="myDrag($event)"
    @click="mySelection($event,this)"
    :disabled="disabled"
    :size="size"
    :style="style"
    :border="border">
      {{value}}
  </el-radio>
</template>
<script>
  export default {
    name: 'Radio',
    data () {
      return {
        id: ''
      }
    },
    props: {
      label: {
        type: String,
        default: 'default'
      },
      value: {
        type: String,
        default: 'Default'
      },
      style: {
        type: Object,
        default: function () {
          return {
              position: 'absolute'
          }
        }
      },
      border: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      size: {
        type: String,
        default: 'medium'
      },
      myDrag: {
        type: Function,
        default: function() {}
      },
      mySelection: {
        type: Function,
        default: function() {}
      }
    },
    mounted () {
      this.id = this.getId(5)
    },
    methods: {
      getId: function (length) {
        let result = ''
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
        let charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return `radio_${result}`
      }
    }
  }
</script>
<style>
</style>