<template>
  <el-input
    :id="id"
    draggable="true"
    @dragstart="myDrag($event)"
    @click="mySelection($event)"
    :placeholder="placeholder"
    :show-password="bType"
    :disabled="disabled"
    :size="size"
    :style="style"
    class="txt-drag"
    >
    </el-input>
</template>
<script>
  export default {
    name: 'Textbox',
    data () {
      return {
        id: ''
      }
    },
    props: {
      bType: {
        type: Boolean,
        default: false
      },
      placeholder: {
        type: String,
        default: 'Please input'
      },
      style: {
        type: Object,
        default: function () {
          return {}
        }
      },
      disabled: {
        type: Boolean,
        default: false
      },
      size: {
        type: String,
        default: 'medium'
      },
      myDrag: {
        type: Function,
        default: function() {}
      },
      mySelection: {
        type: Function,
        default: function() {}
      }
    },
    mounted () {
      this.id = this.getId(5)
    },
    methods: {
      getId: function (length) {
        let result = ''
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
        let charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength))
        }
        return `txt_${result}`
      }
    }
  }
</script>
<style>
.txt-drag {
  position: absolute !important;
  width: 250px !important
}
</style>